BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 2.5 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=CFG DUALBOOTGOLDEN=INTERNAL BACKGROUND_RECONFIG=OFF MUX_CONFIGURATION_PORTS=DISABLE MCCLK_FREQ=2.08 INBUF=OFF JTAG_PORT=ENABLE ENABLE_TRANSFR=DISABLE COMPRESS_CONFIG=ON SDM_PORT=PROGRAMN_DONE_INITN I2C_PORT=DISABLE SLAVE_SPI_PORT=DISABLE ;
IOBUF PORT "I_FPGA_RS485_1_RX" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_DSP_RS485_B_TX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_DSP_RS485_B_DE" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_DSP_RS485_B_RE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_FPGA_RS485_1_TX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_FPGA_RS485_1_DE" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "O_FPGA_RS485_1_RE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_DSP_RS485_B_RX" IO_TYPE=LVCMOS33 ;
LOCATE COMP "I_DSP_RS485_B_DE" SITE "P4" ;
LOCATE COMP "O_FPGA_RS485_1_DE" SITE "N7" ;
LOCATE COMP "I_DSP_RS485_B_TX" SITE "P5" ;
LOCATE COMP "O_DSP_RS485_B_RX" SITE "R5" ;
LOCATE COMP "I_DSP_RS485_B_RE" SITE "R3" ;
LOCATE COMP "O_FPGA_RS485_1_TX" SITE "R7" ;
LOCATE COMP "O_FPGA_RS485_1_RE" SITE "P7" ;
LOCATE COMP "I_FPGA_RS485_1_RX" SITE "P6" ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[1]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[2]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[3]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[4]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[5]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[6]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[7]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[8]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[9]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[10]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[11]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[12]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[13]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[14]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[15]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[16]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[17]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[18]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[19]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[20]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[21]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[22]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[23]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[24]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[25]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[26]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[27]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[28]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[29]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[30]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "I_O_FPGA_GPIO_1V8[31]" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[1]" SITE "J6" ;
IOBUF PORT "I_CLOCK_20MHz" IO_TYPE=LVCMOS33 ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[2]" SITE "H6" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[3]" SITE "G6" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[4]" SITE "F6" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[5]" SITE "J5" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[6]" SITE "D4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[7]" SITE "D3" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[8]" SITE "E4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[9]" SITE "E3" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[10]" SITE "F4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[11]" SITE "G4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[12]" SITE "D2" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[13]" SITE "D1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[14]" SITE "C1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[15]" SITE "E2" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[16]" SITE "E1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[17]" SITE "G3" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[18]" SITE "F1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[19]" SITE "H4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[20]" SITE "G2" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[21]" SITE "G1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[22]" SITE "H3" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[23]" SITE "J4" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[24]" SITE "H2" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[25]" SITE "H1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[26]" SITE "J2" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[27]" SITE "J1" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[28]" SITE "J3" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[29]" SITE "H5" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[30]" SITE "F5" ;
LOCATE COMP "I_O_FPGA_GPIO_1V8[31]" SITE "G5" ;
USERCODE BIN "00000000000000000000000000000000" ; 
LOCATE COMP "O_FPGA_RS485_2_DE" SITE "T6" ;
LOCATE COMP "O_FPGA_RS485_2_TX" SITE "R6" ;
LOCATE COMP "I_FPGA_RS485_2_RX" SITE "Y3" ;
LOCATE COMP "O_FPGA_RS485_2_RE" SITE "W4" ;
IOBUF PORT "O_FPGA_RS485_2_RE" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "O_FPGA_RS485_2_TX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_FPGA_RS485_2_DE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_FPGA_RS485_2_RX" IO_TYPE=LVCMOS33 PULLMODE=UP ;
