/Release/
/ReleaseRecorders/
.settings
/ReleaseTestCS1107
/Motor28062/
/ReleaseCS1211/
/ReleaseCS1107/
/ReleaseTestCS1211/
/ReleaseCS1107_F28384/
/DemoBoard28069/
/ParameterTestCS1211/
/DemoBoard28069_Boot8kW/
/ISO28069Boot8kW/
/ISO28069Boot16kW/
/Motor28062Boot8kW/
