/Debug/
/DebugNoControl/
/DemoBoard28069_Example/
/Motor28062_Example/
/Release
/ReleaseCS1107
/ReleaseCS1107_eabi
/ReleaseCS1211
/ReleaseCS1211_IPC
/ReleaseRecorders
/ReleaseTestCS1107
/ReleaseTestCS1211
/Debug
/DebugNoControl
/DemoBoard28069
/DemoBoard28069_Example
/ISO28069Boot16kW
/Motor28062
/Motor28062_Boot8kW
/Motor28062_Example
/Motor28062Boot8kW
/ParameterTestCS1211
