BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 7 VCCIO 3.3 V;
BANK 6 VCCIO 2.5 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;
SYSCONFIG MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 TRANSFR=OFF ;
LOCATE COMP "I_OSC_20MHZ" SITE "L16" ;
IOBUF PORT "I_OSC_20MHZ" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ANYBUS_nIRQ" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_DSP_SCI_D_TX_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_ADDRESS_FP[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_EM1BA1_FP" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_nCS3_FP" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_nCS4_FP" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_nOE_FP" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EMIF1_nWE_FP" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_EPWM_1_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_1_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_2_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_2_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_3_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_3_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_4_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_4_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_5_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_5_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_6_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_6_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_7_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_7_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_8_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_8_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_9_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_9_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_10_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_10_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_11_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_11_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_12_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_EPWM_12_P" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_FPGA_EEPROM_SOMI" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_BM_SEL0_SCITXDA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP1A_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP1B_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP1I_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP1S_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_SPI_C_SIMO_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_EMIF1_DATA_FP[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_EMIF1_DATA_FP[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I_O_FLT[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_FLT[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_FLT[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_PWM_BUF[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_WROOM_GPIO0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_WROOM_SPI_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_WROOM_SPI_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_WROOM_SPI_SDO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_WROOM_U0RXD" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_PIC16_UART_TX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP2A_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP2B_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP2I_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_EQEP2S_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_SPI_C_CLK_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_SPI_C_SOMI_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_DSP_SPI_C_TE0_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_RTC_SDA" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "I_O_WROOM_SPI_SDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_WROOM_U0TXD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "O_DSP_SCI_D_RX_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_FPGA_EEPROM_CLK" IO_TYPE=LVCMOS25 ;
IOBUF PORT "O_FPGA_EEPROM_SIMO" IO_TYPE=LVCMOS25 ;
IOBUF PORT "O_FPGA_EEPROM_nCS" IO_TYPE=LVCMOS25 ;
IOBUF PORT "O_PIC16_UART_RX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_U_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_U_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_V_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_V_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_W_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_1_W_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_U_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_U_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_V_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_V_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_W_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_2_W_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_U_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_U_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_V_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_V_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_W_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_3_W_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_U_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_U_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_V_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_V_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_W_BOT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_PWM_4_W_TOP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_RTC_SCL" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "O_ANYBUS_nRESET" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "O_DSP_RESET" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "O_MCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "O_PROGRAMN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "O_GPIO_FPGA_1V8[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_GPIO_FPGA_1V8[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[2]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[3]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[4]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[5]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[6]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[7]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[8]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[9]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[10]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_GPIO_FPGA_2V5[11]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I_O_LVDS[0]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[1]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[2]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[3]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[4]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[5]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[6]" IO_TYPE=LVDS ;
IOBUF PORT "I_O_LVDS[7]" IO_TYPE=LVDS ;
LOCATE COMP "I_ANYBUS_nIRQ" SITE "E11" ;
LOCATE COMP "I_DSP_SCI_D_TX_FPGA" SITE "M8" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[0]" SITE "R13" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[1]" SITE "T15" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[2]" SITE "R15" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[3]" SITE "G13" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[4]" SITE "D11" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[5]" SITE "G14" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[6]" SITE "J16" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[7]" SITE "L14" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[8]" SITE "R12" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[9]" SITE "R14" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[10]" SITE "T14" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[11]" SITE "G16" ;
LOCATE COMP "I_EMIF1_ADDRESS_FP[12]" SITE "F15" ;
LOCATE COMP "I_EMIF1_EM1BA1_FP" SITE "T13" ;
LOCATE COMP "I_EMIF1_nCS3_FP" SITE "L13" ;
LOCATE COMP "I_EMIF1_nCS4_FP" SITE "M13" ;
LOCATE COMP "I_EMIF1_nOE_FP" SITE "M15" ;
LOCATE COMP "I_EMIF1_nWE_FP" SITE "M16" ;
LOCATE COMP "I_EPWM_1_N" SITE "C4" ;
LOCATE COMP "I_EPWM_1_P" SITE "D4" ;
LOCATE COMP "I_EPWM_2_N" SITE "C5" ;
LOCATE COMP "I_EPWM_2_P" SITE "B3" ;
LOCATE COMP "I_EPWM_3_N" SITE "E13" ;
LOCATE COMP "I_EPWM_3_P" SITE "C16" ;
LOCATE COMP "I_EPWM_4_N" SITE "R16" ;
LOCATE COMP "I_EPWM_4_P" SITE "B5" ;
LOCATE COMP "I_EPWM_5_N" SITE "P13" ;
LOCATE COMP "I_EPWM_5_P" SITE "E15" ;
LOCATE COMP "I_EPWM_6_N" SITE "B16" ;
LOCATE COMP "I_EPWM_6_P" SITE "F16" ;
LOCATE COMP "I_EPWM_7_N" SITE "P16" ;
LOCATE COMP "I_EPWM_7_P" SITE "K13" ;
LOCATE COMP "I_EPWM_8_N" SITE "H13" ;
LOCATE COMP "I_EPWM_8_P" SITE "G15" ;
LOCATE COMP "I_EPWM_9_N" SITE "A3" ;
LOCATE COMP "I_EPWM_9_P" SITE "A4" ;
LOCATE COMP "I_EPWM_10_N" SITE "C15" ;
LOCATE COMP "I_EPWM_10_P" SITE "L15" ;
LOCATE COMP "I_EPWM_11_N" SITE "B15" ;
LOCATE COMP "I_EPWM_11_P" SITE "N13" ;
LOCATE COMP "I_EPWM_12_N" SITE "C14" ;
LOCATE COMP "I_EPWM_12_P" SITE "P14" ;
LOCATE COMP "I_FPGA_EEPROM_SOMI" SITE "P6" ;
LOCATE COMP "I_O_BM_SEL0_SCITXDA" SITE "N11" ;
LOCATE COMP "I_O_DSP_EQEP1A_FPGA" SITE "J14" ;
LOCATE COMP "I_O_DSP_EQEP1B_FPGA" SITE "E10" ;
LOCATE COMP "I_O_DSP_EQEP1S_FPGA" SITE "J13" ;
LOCATE COMP "I_O_DSP_EQEP1I_FPGA" SITE "M14" ;
LOCATE COMP "I_O_DSP_SPI_C_SIMO_FPGA" SITE "R7" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[0]" SITE "N16" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[1]" SITE "P15" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[2]" SITE "F12" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[3]" SITE "H15" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[4]" SITE "H14" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[5]" SITE "K12" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[6]" SITE "K15" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[7]" SITE "K16" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[8]" SITE "N12" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[9]" SITE "K14" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[10]" SITE "F13" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[11]" SITE "F14" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[12]" SITE "E14" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[13]" SITE "E16" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[14]" SITE "D14" ;
LOCATE COMP "I_O_EMIF1_DATA_FP[15]" SITE "D16" ;
LOCATE COMP "I_O_FLT[0]" SITE "E5" ;
LOCATE COMP "I_O_FLT[1]" SITE "E12" ;
LOCATE COMP "I_O_FLT[2]" SITE "M9" ;
LOCATE COMP "I_O_PWM_BUF[0]" SITE "A5" ;
LOCATE COMP "I_O_PWM_BUF[1]" SITE "A8" ;
LOCATE COMP "I_O_PWM_BUF[2]" SITE "J15" ;
LOCATE COMP "I_O_PWM_BUF[3]" SITE "R8" ;
LOCATE COMP "I_O_PWM_BUF[4]" SITE "A2" ;
LOCATE COMP "I_O_PWM_BUF[5]" SITE "E4" ;
LOCATE COMP "O_WROOM_GPIO0" SITE "E8" ;
LOCATE COMP "I_O_WROOM_SPI_CLK" SITE "C8" ;
LOCATE COMP "I_O_WROOM_SPI_CS" SITE "B8" ;
LOCATE COMP "I_O_WROOM_SPI_SDO" SITE "B9" ;
LOCATE COMP "O_WROOM_U0RXD" SITE "D5" ;
LOCATE COMP "I_PIC16_UART_TX" SITE "B6" ;
LOCATE COMP "I_O_DSP_EQEP2A_FPGA" SITE "T6" ;
LOCATE COMP "I_O_DSP_EQEP2B_FPGA" SITE "R6" ;
LOCATE COMP "I_O_DSP_EQEP2I_FPGA" SITE "P7" ;
LOCATE COMP "I_O_DSP_EQEP2S_FPGA" SITE "B4" ;
LOCATE COMP "I_O_DSP_SPI_C_CLK_FPGA" SITE "P12" ;
LOCATE COMP "I_O_DSP_SPI_C_SOMI_FPGA" SITE "P11" ;
LOCATE COMP "I_O_DSP_SPI_C_TE0_FPGA" SITE "M12" ;
LOCATE COMP "I_O_RTC_SDA" SITE "C9" ;
LOCATE COMP "I_O_WROOM_SPI_SDI" SITE "D8" ;
LOCATE COMP "I_WROOM_U0TXD" SITE "E6" ;
LOCATE COMP "O_DSP_SCI_D_RX_FPGA" SITE "B7" ;
LOCATE COMP "O_FPGA_EEPROM_CLK" SITE "M5" ;
LOCATE COMP "O_FPGA_EEPROM_SIMO" SITE "N5" ;
LOCATE COMP "O_FPGA_EEPROM_nCS" SITE "P5" ;
LOCATE COMP "O_PIC16_UART_RX" SITE "A6" ;
LOCATE COMP "O_PWM_1_U_BOT" SITE "C13" ;
LOCATE COMP "O_PWM_1_U_TOP" SITE "D13" ;
LOCATE COMP "O_PWM_1_V_BOT" SITE "A15" ;
LOCATE COMP "O_PWM_1_V_TOP" SITE "B10" ;
LOCATE COMP "O_PWM_1_W_BOT" SITE "A10" ;
LOCATE COMP "O_PWM_1_W_TOP" SITE "A14" ;
LOCATE COMP "O_PWM_2_U_BOT" SITE "A11" ;
LOCATE COMP "O_PWM_2_U_TOP" SITE "A9" ;
LOCATE COMP "O_PWM_2_V_BOT" SITE "B14" ;
LOCATE COMP "O_PWM_2_V_TOP" SITE "B11" ;
LOCATE COMP "O_PWM_2_W_BOT" SITE "D12" ;
LOCATE COMP "O_PWM_2_W_TOP" SITE "B13" ;
LOCATE COMP "O_PWM_3_U_BOT" SITE "C12" ;
LOCATE COMP "O_PWM_3_U_TOP" SITE "A13" ;
LOCATE COMP "O_PWM_3_V_BOT" SITE "C11" ;
LOCATE COMP "O_PWM_3_V_TOP" SITE "C10" ;
LOCATE COMP "O_PWM_3_W_BOT" SITE "B12" ;
LOCATE COMP "O_PWM_3_W_TOP" SITE "A12" ;
LOCATE COMP "O_PWM_4_U_BOT" SITE "C6" ;
LOCATE COMP "O_PWM_4_U_TOP" SITE "D6" ;
LOCATE COMP "O_PWM_4_V_BOT" SITE "E7" ;
LOCATE COMP "O_PWM_4_V_TOP" SITE "A7" ;
LOCATE COMP "O_PWM_4_W_BOT" SITE "C7" ;
LOCATE COMP "O_PWM_4_W_TOP" SITE "D7" ;
LOCATE COMP "I_RTC_SCL" SITE "D9" ;
LOCATE COMP "O_ANYBUS_nRESET" SITE "N14" ;
LOCATE COMP "O_DSP_RESET" SITE "H12" ;
LOCATE COMP "O_MCLK" SITE "P8" ;
LOCATE COMP "O_PROGRAMN" SITE "M11" ;
LOCATE COMP "O_GPIO_FPGA_1V8[0]" SITE "J1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[1]" SITE "J2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[2]" SITE "K3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[3]" SITE "J3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[4]" SITE "K1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[5]" SITE "K2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[6]" SITE "B1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[7]" SITE "B2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[8]" SITE "C3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[9]" SITE "D3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[10]" SITE "C1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[11]" SITE "C2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[12]" SITE "E3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[13]" SITE "F3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[14]" SITE "D1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[15]" SITE "E2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[16]" SITE "F4" ;
LOCATE COMP "O_GPIO_FPGA_1V8[17]" SITE "F5" ;
LOCATE COMP "O_GPIO_FPGA_1V8[18]" SITE "G5" ;
LOCATE COMP "O_GPIO_FPGA_1V8[19]" SITE "G4" ;
LOCATE COMP "O_GPIO_FPGA_1V8[20]" SITE "F2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[21]" SITE "E1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[22]" SITE "F1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[23]" SITE "G2" ;
LOCATE COMP "O_GPIO_FPGA_1V8[24]" SITE "H3" ;
LOCATE COMP "O_GPIO_FPGA_1V8[25]" SITE "H5" ;
LOCATE COMP "O_GPIO_FPGA_1V8[26]" SITE "H4" ;
LOCATE COMP "O_GPIO_FPGA_1V8[27]" SITE "J4" ;
LOCATE COMP "O_GPIO_FPGA_1V8[28]" SITE "J5" ;
LOCATE COMP "O_GPIO_FPGA_1V8[29]" SITE "G1" ;
LOCATE COMP "O_GPIO_FPGA_1V8[30]" SITE "H2" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[0]" SITE "M1" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[1]" SITE "M2" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[2]" SITE "L4" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[3]" SITE "L5" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[4]" SITE "L3" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[5]" SITE "M3" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[6]" SITE "M4" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[7]" SITE "N3" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[8]" SITE "R2" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[9]" SITE "T2" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[10]" SITE "R4" ;
LOCATE COMP "I_O_GPIO_FPGA_2V5[11]" SITE "T3" ;
LOCATE COMP "I_O_LVDS[0]" SITE "L1" ;
LOCATE COMP "I_O_LVDS[1]" SITE "K4" ;
LOCATE COMP "I_O_LVDS[2]" SITE "N1" ;
LOCATE COMP "I_O_LVDS[3]" SITE "P1" ;
LOCATE COMP "I_O_LVDS[4]" SITE "N4" ;
LOCATE COMP "I_O_LVDS[5]" SITE "P4" ;
LOCATE COMP "I_O_LVDS[6]" SITE "R5" ;
LOCATE COMP "I_O_LVDS[7]" SITE "M6" ;
LOCATE COMP "I_DSP_ERROR_RESET_FPGA" SITE "D10" ;
IOBUF PORT "I_DSP_ERROR_RESET_FPGA" IO_TYPE=LVCMOS33 ;
LOCATE COMP "I_WROOM_U0RXD_FPGA" SITE "G12" ;
LOCATE COMP "O_WROOM_EN" SITE "J12" ;
LOCATE COMP "O_WROOM_U0TXD_FPGA" SITE "L12" ;
IOBUF PORT "O_WROOM_EN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "O_WROOM_U0TXD_FPGA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_WROOM_U0RXD_FPGA" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "I_O_RTC_nRESET" SITE "E9" ;
IOBUF PORT "I_O_RTC_nRESET" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY PORT "I_OSC_20MHZ" 20.000000 MHz ;
FREQUENCY PORT "I_RTC_SCL" 0.400000 MHz ;
USE PRIMARY NET "s_OSC_Fast" ;
