*.bit
*.mcs

/*.dir

/._Real_._Math_.vhd
/.build_status
/*.html
/.vdbs
/*.alt
/*.arearep
/*.pad
/*.par
/*.prf
/*.pt
/*.t2b
/*.twr
/*.synproj
/*.asd
/*.cam
/*.hrr
/*.ncd
/*.bgn
/*.drc
/*.log
/*.lpf
/*.lsedata
/*.mrp
/*.ngd
/*.p2t
/*.p3t
/*.xml
/xxx_lse_cp_file_list
/*.v
/xxx_lse_sign_file
